<div class="body-container">
  <div class="container" id="container" [class.right-panel-active]="isActive">
    
    <div class="form-container sign-up-container">
      <form>
        <h1>Crear Cuenta</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>o usa tu email para registrarte</span>
        
        <input type="text" placeholder="Usuario" name="regUser" [(ngModel)]="usuarioRegistro.username" required />
        <input type="email" placeholder="Email" name="regEmail" [(ngModel)]="usuarioRegistro.email" required />
        <input type="password" placeholder="Contraseña" name="regPass" [(ngModel)]="usuarioRegistro.password" required />
        
        <button type="button" (click)="registrarse()">Registrarme</button>
      </form>
    </div>
    
    <div class="form-container sign-in-container">
      <form>
        <h1>Iniciar Sesión</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>o usa tu cuenta existente</span>
        
        <input type="text" placeholder="Usuario" name="username" [(ngModel)]="usuarioLogin.username" />
        <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="usuarioLogin.password" />
        
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button type="button" (click)="entrar()">Ingresar</button>
      </form>
    </div>
    
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>¡Bienvenido de nuevo!</h1>
          <p>Para mantenerte conectado con nosotros, por favor inicia sesión con tu información personal</p>
          <button class="ghost" id="signIn" (click)="togglePanels()">Iniciar Sesión</button>
        </div>
        
        <div class="overlay-panel overlay-right">
          <h1>¡Hola, Amante de las Mascotas!</h1>
          <p>Ingresa tus datos personales y comienza el viaje con nosotros</p>
          <button class="ghost" id="signUp" (click)="togglePanels()">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>